body {
	background-color: #304;
	color: #ff8;
	width: calc(100% - 32px);
	margin: 16px;
}

h1 {
	font-size: 20px;
	margin: 16px;
	text-align: center;
}

#scalable_container {
	position: relative;
	width: 100%;
	padding-top: 48%;
}

.info {
	margin: 8px;
	text-align: center;
}

#main {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#board {
	width: 80%;
	height: 100%;
	margin: 0;
	background-color: #516;
	display: inline;
	position: relative;
	float: right;
}

#left_column {
	width: calc(20% - 16px);
	float: left;
	height: 100%;
	position: relative;
	margin-right: 16px;
	display: flex;
	flex-direction: column;
}

#deck {
	background-color: #627;
	color: #000;
	margin: 8px auto;
	border: 4px solid white;
	border-radius: 8px;
}

#deck:hover {
	background-color: #738 !important;
}

#card_menu {
	width: 100%;
	height: 128px;
	margin: 8px 0;
	background-color: #516;
	overflow-y: scroll;
}

#log {
	width: 100%;
	margin: 8px 0 0;
	background-color: #405;
	overflow-y: scroll;
	flex-grow: 1;
}

#held_card {
	position: fixed;
	display: none;
	background-color: #738;
	pointer-events: none;
	z-index: 2;
	border: solid 4px white;
	border-radius: 8px;
}

.card {
	position: absolute;
	border: 4px solid white;
	border-radius: 8px;
}

.menu_card {
	width: calc(100% - 8px);
	padding: 4px;
}

.menu_card:hover {
	background-color: #738;
}

.card_img {
	width: 100%;
	height: 100%;
}
