{% extends "layout.html" %}
{% block content %}
<div id="left_column">
	<p class="info">None may speak. Mind your company and draw cards from the deck to communicate.</p>
	<div id="deck"></div>
	<div id="card_menu"></div>
	<div id="log"></div>
</div>
<div id="board"></div>
<div id="held_card"></div>
{% endblock %}
