<!DOCTYPE HTML>
<head>
	<meta charset=UTF-8 name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
		window.jQuery || document.write('\x3Cscript src="/static/jquery-3.3.1.min.js">\x3C/script>');
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<title>Network of Crossed Destinies</title>
</head>

<body>
	<div id="scalable_container">
		<div id="main">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<script src="/static/actions.js"></script>
</body>
